

body,html,div,ul,li,iframe,p,img{
     border:none;padding:0;margin:0;
}
body,html{
    width:100%;height:100%;overflow: hidden;
}
body{
    font-size:14px;color:#000;font-family:"微软雅黑";
}
dl,dt,dd{display:block;margin:0;}
a{text-decoration:none;}

/*=S 头部区域样式 */
#header{
    width: 100%;
    height: 60px;
    z-index: 3;
    position: absolute;
    box-shadow: 0 2px 4px #ccc;
    background-color:#4c4e5a;
}
#header .logo{
    height: 50px;
    float: left;
    margin-top: 6px;
    margin-left: 20px;
    position: absolute;
}
#header .logo img{
    height: 50px;
    width:50px;
}
#header .logo span{
    display: block;
    float: right;
    color: #fff;
    font-size: 160%;
    font-weight: bold;
    margin: 10px 5px; 
}
#header a.help{
	display: block;
	float: right;
	color: #fff;
	line-height: 38px;
	border-radius: 2px;
	font-size: 16px;
	padding: 0 16px;
	margin: 10px 20px 0 0;
	border: 1px solid #b1b1b1;
}
a.help:hover, #page a.help:hover{
    color: #0097db; 
    background-color:#339999
}
a.help span{
	padding-right: 10px;
	display: block;
	float: left;
	font: italic bold 26px/38px "Times New Roman",Georgia,Serif,arial,sans-serif;
}
								
/*=E 头部区域样式 */

/*=S 主体框架 */
#content{
    position: absolute;
    width:100%;
    border-bottom: 1px solid #ccc;
    top: 60px;
    left: 0;
	right: 0;
    bottom: 0;
}
/*=E 主体框架 */	

/*=S 导航部分left */
.leftsidebar_box{
    width:220px;
    height:100% !important;
    background-color:#4c4e5a;
    overflow-y: scroll;
    position: absolute;
}
.line{
    height:2px;
    width:100%;
    background-image:url(../images/left/line_bg.png);
    background-repeat:repeat-x;
}
.leftsidebar_box dt{
    padding-left:40px;
    padding-right:10px;
    background-repeat:no-repeat;
    background-position:10px center;
    background-color:#339999;
    color:#f5f5f5;
    font-size:16px;
    position:relative;
    line-height:50px;
    cursor:pointer;
}
.leftsidebar_box dd{
    color:#f5f5f5;
    background-color:#4c4e5a;
    padding-left:40px; 
    height:30px;
    line-height:30px;
    cursor:pointer;
}

/* 鼠标悬停二级菜单时当前菜单项
.leftsidebar_box dd:hover {
	color:#a9a9a9;
	background-color:#38393f;
}
*/
        
.leftsidebar_box dt img{
    position:absolute;
    right:10px;
    top:20px;
}
.control dt{background-image:url(../images/left/system.png)}
.data dt{background-image:url(../images/left/source.png)}
.drawing dt{background-image:url(../images/left/channel.png)}
.ogc dt{background-image:url(../images/left/cloud.png)}
.label dt{background-image:url(../images/left/statistics.png)}
.others dt{background-image:url(../images/left/syetem_management.png)}
.leftsidebar_box dl dd:last-child{padding-bottom:10px;}
/*=E 导航部分left */  
 
/*=S 源码部分 */
#code_wrapper{
	/*width: 468px;*/
	/*width: 0;*/
	height: 100%;
	background: #fff;
	position: absolute;
	z-index: 2;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	margin: 0 0 0 220px;
}
#code_core{
	width: 468px;
	/*width: 0;*/
	overflow: hidden;
	height: 100%;
	display: block;
	position: relative;
}
#code_arrow{
	width: 29px;
	height: 94px;
	background: #1f555c;
	border: 1px solid #e5e5e5;
	border-left: none;
	border-radius: 0 6px 6px 0;
	position: absolute;
	top: 50%;
	right: 0;
	margin: -48px -29px 0 0;
	cursor: pointer;
	line-height: 88px;
	font-size: 36px;
	font-family: "Times";
	text-align: center;
	color: #fff;
}
#code_arrow span{display: block;}
#code_arrow p{display: none;color: #b1b1b1;margin: 0;}
#code_arrow.go_back{background: #fff;color: #b1b1b1;}
#code_arrow.go_back span{display: none;}
#code_arrow.go_back p{display: block;}
.code_head{
	height: 41px;
	line-height: 41px;
	background: #f5f5f5;
	font-size: 14px;
	padding: 0 10px;
	border-bottom: 1px solid #e5e5e5;
}
.code_head a,#page .code_head a{
	float: right;
	display: block;
	padding: 0 3px;
	/*color: #0097db;*/
}
.code_head a:hover, #page .code_head a:hover, #page a.zeroclipboard-is-hover{color: #0097db;}
.code_body{
	width: 100%;
	position: absolute;	
	top:41px;
	bottom: 0;
}
#codes{display: none;}
.CodeMirror{
	height: 100% !important;
	bottom: 0;
	position: absolute !important;
	font-family: "Microsoft Yahei";
	line-height: 20px;
	font-size: 12px;
}
/*=E 源码部分 */

/*=S 地图容器部分 */
.iframe_wrapper{
	/*width: 100%;*/
	width: auto;
	height: 100%;
	border: none;
	z-index: 1;
	/*margin-left: 220px;*/
	margin-left: 690px;
	position: relative;
	/*top: 210px;*/
	top: 0;
	bottom: 0;
}
#container_iframe{
	width: 100%;
	height: 100%;
	border: none;
	z-index: 1;
	/*margin-left: 220px;*/
	position: absolute;
	/*top: 210px;*/
	top: 0px;
	/*left:-7px;*/
	bottom: 0px;
	background: #fff;
    
}
/*=E 地图容器部分 */			
