<?xml version="1.0"?>
<configuration>
    <!--<connectionStrings>
        <add name="DataCnnString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Student.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
        <add name="DataCnnString1" connectionString="Data Source=.\SQLEXPRESS;Database=OL3Database;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>-->
    <appSettings>
        <!--<add key="CityConStr" value="Data Source=127.0.0.1;UID=sa;PWD=sa;DATABASE=whtax_db;Max Pool Size=10000;Pooling=true"/>-->
        <add key="DataConStr" value="data source=(local);initial catalog=OL3Database;user id=sa;password=guest;"/>
    </appSettings>
    <system.web>
        <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
        <!--<authentication mode="Windows"/>-->
        
        
    </system.web>

</configuration>
